
*.xcuserstate
SurdurulebilirMahalleler.xcodeproj/project.pbxproj
SurdurulebilirMahalleler.xcodeproj/project.pbxproj
SurdurulebilirMahalleler.xcodeproj/project.xcworkspace/xcuserdata/macbook.xcuserdatad/UserInterfaceState.xcuserstate
