<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBabYShFUY4uljkK0Vg8OrQw6KjEY7tiag</string>
	<key>GCM_SENDER_ID</key>
	<string>242321392845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ilkayipek.SurdurulebilirMahalleler</string>
	<key>PROJECT_ID</key>
	<string>surdurulebilir-mahallele-f8f71</string>
	<key>STORAGE_BUCKET</key>
	<string>surdurulebilir-mahallele-f8f71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242321392845:ios:96addaded3cb240e6a9584</string>
</dict>
</plist>